<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.1.0" newVersion="9.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <DataAccess.Properties.Settings>
      <setting name="DataAccess_WSSLists_Lists" serializeAs="String">
        <value>http://win2008r2sp1/_vti_bin/Lists.asmx</value>
      </setting>
      <setting name="DataAccess_WSSWebs_Webs" serializeAs="String">
        <value>http://win2008r2sp1/_vti_bin/Webs.asmx</value>
      </setting>
      <setting name="DataAccess_WSSAlerts_Alerts" serializeAs="String">
        <value>http://win2008r2sp1/_vti_bin/Alerts.asmx</value>
      </setting>
      <setting name="DataAccess_WSSPermissions_Permissions" serializeAs="String">
        <value>http://win2008r2sp1/_vti_bin/Permissions.asmx</value>
      </setting>
      <setting name="DataAccess_WSSSiteData_Sites" serializeAs="String">
        <value>http://win2008r2sp1/_vti_bin/SiteData.asmx</value>
      </setting>
      <setting name="DataAccess_WSSUserGroup_UserGroup" serializeAs="String">
        <value>http://win2008r2sp1/_vti_bin/usergroup.asmx</value>
      </setting>
      <setting name="DataAccess_WSSViews_Views" serializeAs="String">
        <value>http://win2008r2sp1/_vti_bin/Views.asmx</value>
      </setting>
      <setting name="DataAccess_WSSWebPartPages_WebPartPagesWebService" serializeAs="String">
        <value>http://win2008r2sp1/_vti_bin/WebPartPages.asmx</value>
      </setting>
      <setting name="DataAccess_WSSVersions_Versions" serializeAs="String">
        <value>http://win2008r2sp1/_vti_bin/Versions.asmx</value>
      </setting>
    </DataAccess.Properties.Settings>
  </applicationSettings>
</configuration>