<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- SOURCE SETTINGS-->
    <!--https://sites.sp.kp.org/projects/sps-->
    <add key="SourceSiteHost" value="https://sites1.sp.kp.org/mssa/Medicare" />
    <add key="SourceUserName" value="CS\SvcSPSD02Setup" />
    <add key="SourcePassword" value="###" />
    <add key="SourceSiteType" value="SharePointOnPremises" />

    <!-- TARGET SETTINGS-->
    <!--https://sp-cloud.kp.org/sites/projects-sps -->
    <add key="TargetSiteHost" value="https://sp-cloud.kp.org/sites/mssa-Medicare" />
    <add key="TargetUserName" value="svcO365SPMig@kaiserpermanente.onmicrosoft.com" />
    <add key="TargetPassword" value="###" />
    <add key="TargetSiteType" value="SharePointOnline" />

    <!-- Ctrl +9 in the excel after entering this formula =TRANSPOSE(A1:A50)&";"-->
    <!-- <add key="SiteRelativeUrls" value="/sites/IT_PMO;/sites/IT_Digitization" /> -->
    <add key="SiteRelativeUrls" value="/" />
    <!--"../../UserMapping.csv"-->
    <!--<add key="UserMappingFilePath" value="../../UserMapping.csv" />-->
    <add key="UserMappingFilePath" value="" />
    <add key="LogDirectory" value="C:\Logs" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.1.0" newVersion="9.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharePointPnP.IdentityModel.Extensions" publicKeyToken="5e633289e95c321a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.4.0" newVersion="1.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>