<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!--
    <add key="SourceSiteHost" value="https://caesarsportal.sharepoint.com" />
    <add key="SourceUserName" value="vmunagala@caesarsportal.onmicrosoft.com" />
    <add key="SourcePassword" value="****" />
    <add key="SourceSiteType" value="SharePointOnline" />
    -->
    <add key="SourceSiteHost" value="http://smartgrid" />
    <add key="SourceUserName" value="OGE\spmigsvc" />
    <add key="SourcePassword" value="SPmig$vc11@j9" />
    <add key="SourceSiteType" value="WSS" />    
    
    <add key="TargetSiteHost" value="http://togethernet2/sites/smartgrid" />
    <add key="TargetUserName" value="OGE\spmigsvc" />
    <add key="TargetPassword" value="SPmig$vc11@j9" />
    <add key="TargetSiteType" value="SharePointOnPremises" />

    <!-- Ctrl +9 in the excel after entering this formula =TRANSPOSE(A1:A50)&";"-->
    <!-- <add key="SiteRelativeUrls" value="/sites/IT_PMO;/sites/IT_Digitization" /> -->
    <add key="SiteRelativeUrls" value="/SGI/GI" />
    <!--"../../UserMapping.csv"-->
    <!--<add key="UserMappingFilePath" value="../../UserMapping.csv" />-->
    <add key="UserMappingFilePath" value="" />
    
    <add key="LogDirectory" value="D:\Logs" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.1.0" newVersion="9.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>